 /* p{ 

    background-color: rgb(216, 97, 50);
    color: blue;
}  */
/* .class{
    font-size: 50px;
    color: green;
    background-color: aquamarine;
} */
/* #id{

    color:blue;
    background-color: aquamarine;
}

 span{

    color:yellowgreen;
    background-color: black;
 }    */
/* p{

    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: #6e268c;
} */
/* .main{
    background-color: brown;
    color: aqua;
} */
h3{
    color: aqua;
}
h1{
    color: aqua;
}
span{
   background-color:blue
}
div{
    background-color: azure;
}